body
{
    font-size: 30px ;
    background-image: url("GhostTown.png");
}

h1{
    margin: 0;
    font-size: 50px;
    text-align: center;
}

#cadreContenu
{
    display: flex;
    flex-direction:row ;
    width: 100%;
}

#scoreBouton
{
    width: 100%;
}

button
{
    height: 50px;
}

#cadreLegende
{
    width: 50% ;
    
}

p 
{
    display:inline-block ;
}


#carte
{
    margin:0 ;
    width: 100%;
    height: 10px; 
}
  
/* Largeur et hauteur des cases de la grille */
td {
    width: 50px;
    height:50px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.commentaires 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: +1em;
    text-align: left;
    text-justify: inter-word;
    color: rgb(255, 255, 255);
}
   
/* Couleurs des cases */
#orange, .bonneLigne  {
 background-color:orange;
}

#jaune, .bonneColonne{
    background-color: yellow;
}

#rouge, .mauvaiseCase{
    background-color: red;
}

#vert, .tresor {
    background-color: green;
}


